.btn {
  margin-right: 5px;
  letter-spacing: .2rem;
  outline: none;
}

.btn:hover {
  transform: scale(1.3);
}

.markedAsDone {
  text-decoration: line-through;
  color: #777;
}

.tableActions {
  width: 105px;
}

.todoForm {
  padding-bottom: 60px;
}